[alias]
  aa = add --all
  ap = add --patch
  ca = commit --amend -v
  ci = commit -v
  co = checkout
  create-branch = !sh -c 'git push origin HEAD:refs/heads/$1 && git fetch origin && git branch --track $1 origin/$1 && cd . && git checkout $1' -
  delete-branch = !sh -c 'git push origin :refs/heads/$1 && git remote prune origin && git branch -D $1' -
  lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
  lom = !git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative origin/$(git main)..HEAD
  main = !git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4
  merge-branch = !git checkout master && git merge @{-1}
  st = status
  stat = status -sb
  fpush = push
[blame]
  ignoreRevsFile = .git-blame-ignore-revs
[color]
  diff = true
  ui = true
[commit]
  verbose = true
[core]
  autocrlf = input
  editor = nvim
  excludesfile = ~/.gitignore
  pager = diff-so-fancy | less --tabs=4 -RFX
[diff-so-fancy]
  markEmptyLines = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  process = git-lfs filter-process
  required = true
  smudge = git-lfs smudge -- %f
[include]
  path = ~/.gitconfig.local # see .gitconfig.local
[init]
  defaultBranch = main
[interactive]
  diffFilter = diff-so-fancy --patch
[pull]
  rebase = false
[push]
  autoSetupRemote = true
  default = current
[rebase]
  autosquash = true
  updateRefs = true
[rerere]
  enabled = true
  autoUpdate = true
[url "git@github.com:"]
  insteadOf = https://github.com/
[branch]
  sort = -committerdate
[merge]
  conflictStyle = zdiff3
