[push]
  default = current
[color]
  ui = true
  diff = true
[alias]
  main = !git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4
  stat = status -sb
  ci = commit -v
  ca = commit --amend -v
  lom = !git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative origin/$(git main)..HEAD
  lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
  aa = add --all
  ap = add --patch
  co = checkout
  create-branch = !sh -c 'git push origin HEAD:refs/heads/$1 && git fetch origin && git branch --track $1 origin/$1 && cd . && git checkout $1' -
  delete-branch = !sh -c 'git push origin :refs/heads/$1 && git remote prune origin && git branch -D $1' -
  merge-branch = !git checkout master && git merge @{-1}
  st = status
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
  editor = nvim
  pager = diff-so-fancy | less --tabs=4 -RFX
[include]
  path = ~/.gitconfig.local # see .gitconfig.local
[rerere]
  enabled = true
[url "git@github.com:"]
  insteadOf = https://github.com/
[rebase]
  autosquash = true
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[pull]
  rebase = false
[init]
  defaultBranch = main
[blame]
  ignoreRevsFile = .git-blame-ignore-revs
[interactive]
  diffFilter = diff-so-fancy --patch
[diff-so-fancy]
  markEmptyLines = false
